* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

.header {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 2 / 5;
    background-color: white;
}

.search-bar {
    display: grid;
    align-self: self-start;
    justify-self: self-start;
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
    height: 25px;
    border: solid black 2px;
    border-radius: 50px;
}

.sidebar {
    display: grid;
    gap: 10px;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: aquamarine;
}

.sidebar-contents {
    display: grid;
    gap: 50px;

}

.sidebar-contents > ul {
    list-style-type: none;

}